In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
import folium
import matplotlib.ticker as ticker
import matplotlib.cm as cm
import numpy as np
import csv
from tabulate import tabulate

In [2]:

files = ['PBC19.csv','PBC20.csv','PBC21.csv','PBC22_now.csv' ]


years = ['2019', '2020', '2021', '2022/23']


df_list = []


for file, year in zip(files, years):
    df = pd.read_csv(file)
    df.insert(0, 'Year', year)
    df_list.append(df)


combined_df = pd.concat(df_list, ignore_index=True)
combined_df = combined_df.applymap(lambda x: x.lower() if isinstance(x, str) else x)
combined_df.rename(columns=lambda x: x.lower(), inplace=True)
combined_df.replace('', np.nan, inplace=True)

In [3]:
combined_df

,year,first name,surname,borough,bus descript,sic code,sicshort,total of emps plus total jobs created,no of employees,total of jobs created,initial stage,new bus stage
0,2019,leroy,smith,k&c,digital media tuition,72.7,72.7,2.0,1.0,1.0,pre-start,existing
1,2019,john,o’hora old file,k&c,gastro pub,55.4,55.4,3.0,1.0,2.0,pre-start,ceased
2,2019,linda,landers,k&c,book printing & fine print company,92.31/1,92.3,1.0,1.0,NaN,pre-start,existing
3,2019,lisa,rutledge,k&c,new zealand nannies introduced to london families,74.5,74.5,1.0,1.0,NaN,pre-start,existing
4,2019,nelson,mariano,k&c,craft business,NaN,NaN,NaN,NaN,NaN,pre-start,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1071,2022/23,william,rousset,royal borough of kensington and chelsea,hybrid estate agency,70.32,70.3,NaN,NaN,NaN,startup,NaN
1072,2022/23,nino,oniani,royal borough of kensington and chelsea,skincare brand,93.04,93.0,NaN,NaN,NaN,existing,NaN
1073,2022/23,sally,nkrumah,westminster,social enterprise,85.32,85.3,1.0,1.0,NaN,pre-start,existing
1074,2022/23,chaza,zidane,westminster,"locam sonographer assistance, medical editor /...",85.13,85.1,1.0,1.0,NaN,pre-start,existing
1075,2022/23,angela,enyori,westminster,graphic design,22.25,22.2,1.0,1.0,NaN,pre-start,NaN

In [4]:
combined_df.to_csv('PBC.csv', index=False)